.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    text-decoration: none;

    .name {
        margin-top: 20px;
        color: black;
    }
}