.wrapper {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.green {
    background-color: rgb(19, 199, 19);
}

.red {
    background-color: rgb(196, 0, 0);
}